<section class="block block--blue block--skewed">
    <h1 class="block__heading">We are committed to your helth</h1>
    <p>The best doctors in the world are doctor diet , doctor quiet and doctor merryman</p>
  </section>

 <div class="grid grid--1x2 block__container">
            <section class="block">
              <h1 class="block__heading">We are <div class="icon"><img src="./icons/icons8-heart-with-pulse-50.png" alt=""> </div> committed to your health</h1>
              <p class="block__content">The best doctors in the world are doctor diet , doctor quiet and doctor merryman</p>
            </section>
            <section class="block block--skewed">
              <div class="image__wrapper">
              <span class="doc_image"></span>
              <span class=""></span>
               <div class="icon-container" >
                <span class="newButton  prescription"></span>
                 <span class="newButton crowd-patients">100,000+ patiens <br> Per Year</span>
              
                </div>
              </div>
          </div>

     
