<section class="block block--blue block--skewed">
    <h1 class="block__heading">We are committed to your helth</h1>
    <p>The best doctors in the world are doctor diet , doctor quiet and doctor merryman</p>
  </section>

  <section class="block">
    <h1 class="block__heading">We are <i class="fa-solid fa-heart-pulse"></i> committed to your health</h1>
    <p>The best doctors in the world are doctor diet , doctor quiet and doctor merryman</p>
  </section>

  <section class="block block--blue ">
    <div class="image__wrapper block--skewed">
        <div class="doc_image">
         <img src="/images/doc.webp" alt="doctor standing in style">
              <div class="icon-container" >
                <img src="/icons/prescription.png" alt="prescription">
             </div>
        </div>
    </div>
     
   </section>