 
            <div class="buttons__wrapper">
                <div class="my_icon"> <button class="btn btn--primary">Get Treatment</button></div>
                 <!--<a href="#" class="btn btn--accent">Call</a>-->
                <div class="my_icon"><span class="call_icon"><img src="./icons/icons8-call-48.png" alt=""> </span>
                 </div>
                
                 <div class="my_icon"> <button href="#"class=" btn--outline"><span class="call_text">Call Now</span><br><span class="call_text">+254711602225 </span> </button>
                </div>
            </div>