<div style="width:30% ;padding: 2rem;">
    <div class="card card--primary">
       <header class="card__header">Card Title</header>
       <div class="card__body">
           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, minima.
       </div>
    </div>
</div>


<div class="card__container">
    <div >
        <div class="card card--secondary">
           <div class="card__icon-container"><img class="icon" src="./icons/briefcase-64.png" alt="briefcase"></div>
           <header class="card__header">
            <h3 class="plan__name">Specialized Service</h3>
            </header>
           <div class="card__body">
               Coverage amount upto covid patient services
           </div>
        </div>
    </div>
    <div >
        <div class="card card--secondary">
           <div class="card__icon-container"><img class="icon" src="./icons/video-chat-48.png" alt="briefcase"></div>
           <header class="card__header">
            <h3 class="plan__name">Check Doctors Profile</h3>
            </header>
           <div class="card__body">
               Lots of doctors with specific expertise
           </div>
        </div>
    </div>
    <div >
        <div class="card card--secondary">
           <div class="card__icon-container">
            <img class="icon" src="./icons/hospital-50.png" alt="briefcase">
        </div>
           <header class="card__header">
            <h3 class="plan__name">Hospital Services</h3>
            </header>
           <div class="card__body">
               Responsibilities for accident injuries and diseases
           </div>
        </div>
    </div>
    <div >
        <div class="card card--secondary">
           <div class="card__icon-container"><img class="icon" src="./icons/video-call-24.png" alt="briefcase"></div>
           <header class="card__header">
            <h3 class="plan__name">Online Treatment</h3>
            </header>
           <div class="card__body">
               Take online treatment by video or audio calls
           </div>
        </div>
    </div>
</div>
