<nav class="nav collapsible">
  <a class="nav__brand" href="/">
    <img src="icons/icons8-cancer-ribbon-50.png" alt="" />
  </a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a hrtoggleref="#">Home</a></li>
      <li class="nav__item"><a hrtoggleref="#">For Cliances</a></li>
      <li class="nav__item"><a hrtoggleref="#">For Patients</a></li>
      <li class="nav__item"><a hrtoggleref="#">FAQ</a></li>
      <li class="nav__item">
        <a class="btn-get_started--outline" href="#">Get Started</a>
      </li>
    </ul>
  </svg>
</nav>
